<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Coffe.Properties.Settings.COFFE_HOUSEConnectionString"
            connectionString="Data Source=LAPTOP-4DLJ461I\SQLEXPRESS;Initial Catalog=COFFE_HOUSE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>